@import url(https://fonts.googleapis.com/css?family=Lato:400);

body {
  background-color: #fff;
}

h3 {
  color: #666;
  font-family: Lato;
  margin-top: 0px;
  padding-bottom: 25px;
  text-transform: uppercase;
}


hr {
  left: 0;
  top: 100px;
  position: absolute;
  width: 100%;
}
