/* Chart */
$primary: #428bca;
$secondary: #ffffff;

.chart {
  width: 100;
  height: 100px;
}

.bar {
  fill: steelblue;

  &:hover {
    fill: brown;
  }
}

.axis {
  path,line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}
