@import url(https://fonts.googleapis.com/css?family=Lato:100);

.chart {
  position: relative;
  top: 30px;
  margin-bottom: 120px;
}

.title {
  font-family: Lato;
  font-size: 22px;
  fill: #666;
  text-transform: uppercase;
}

.bar {
  fill: rgb(26, 128, 182);

  &:hover {
    fill: rgba(#1a80b6, 0.7);
  }
}

.axis {
  font-family: Lato;
  font-weight: 100;

  &.x {
    stroke: #333;
  }

  &.y {
    stroke: #888;
  }

  .axisLabel {
    stroke: #333;
  }

  path,line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges;
  }
}

.tool-tip {
  fill: #eee;
}

text {
  &.data-label {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 12px;
  }

  &.data-point {
    font-family: Lato;
    font-size: 24px;
    font-weight: 100;
  }
}

.triangle {
  stroke: #eee;
  fill: #eee;
}
