@import url(https://fonts.googleapis.com/css?family=Lato:400);

#user-input {
  background-color: #eee;
  color: #666;
  font-family: Lato;
  margin-top: 17px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
}

#calc-inputs .form-group {
  margin-top: 27px;
}

#calc-inputs .form-group:first-child {
  margin-top: 5px;
}

#calc-inputs .form-group:last-child {
  margin-bottom: 15px;
}

#calc-inputs input[type="text"] {
  border-radius: 0;
}
