@import url(https://fonts.googleapis.com/css?family=Lato:400);

#user-input {
  background-color: #eee;
  border-radius: 5px;
  color: #666;
  font-family: Lato;
  padding-top: 15px;
  padding-bottom: 5px;
}
