nav.navbar.navbar-inverse {
  border-radius: 0px;
  padding-left: 20px;

  a {
    color: white;
  }

  a:hover {
    color: #aaa;
  }

  ul.dropdown-menu {
    background-color: #555;

    & a:hover {
      background-color: #555;
      color: #aaa;
    }
  }

  img {
    width: 80px;
  }
}

#user-icon {
  background-color: #4C4C4D;

  i {
    font-size: 22px;
  }
}
