/*Styling Navigation */
.navbar-default .navbar-nav>li>a:focus {
  background-color: #eee;
}

.active {
  border-bottom: 2px solid #bbb;
  background-color: #eee;
}

/* Chart */
$primary: #428bca;
$secondary: #ffffff;

.bar {
  fill: steelblue;
}

.axis {
  path,line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

.line {
  fill: none;
  stroke: $primary;
  stroke-width: 1.5px;
}

.baseline {
  stroke-dasharray: 4, 4;
}
